<?xml version="1.0"?>
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="UstWcf.CrmService" behaviorConfiguration="MyServiceBehavior">
        <endpoint address="" name="restEndPoint" binding="webHttpBinding" behaviorConfiguration="restbehavior" contract="UstWcf.ICrmService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <behaviors>
      <!--SERVICE BEHAVIORS-->
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <!--ENDPOINT BEHAVIORS-->
      <endpointBehaviors>
        <behavior name="restbehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding/>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <!-- Online using Office 365 -->
    <!-- <add name="Server=CRM Online, organization=contoso, user=someone"
         connectionString="Url=https://contoso.crm.dynamics.com; Username=someone@contoso.onmicrosoft.com; Password=password; authtype=Office365"/> -->
    <!--On-premises with provided user credentials-->
    <add name="CRM" connectionString="Url=http://localhost:9991/CLAROPERUDEV2; Domain=Adtest; Username=crmadminuser1; Password=Crm@dm!Us3r; authtype=AD"/>
    <!-- On-premises using Windows integrated security -->
    <!-- <add name="Server=myserver, organization=AdventureWorksCycle"
         connectionString="Url=http://myserver/AdventureWorksCycle; authtype=AD"/> -->
    <!-- On-Premises (IFD) with claims -->
    <!--<add name="Server=litware.com, organization=contoso, user=someone@litware.com"
         connectionString="Url=https://contoso.litware.com/contoso; Username=someone@litware.com; Password=password; authtype=IFD"/>-->
  </connectionStrings>
  <appSettings>
    <add key="URL_CRM" value="http://localhost:9991/CLAROPERUDEV2"/>
    <add key="USUARIO_CRM" value="crmadminuser1"/>
    <add key="CLAVE_CRM" value="Crm@dm!Us3r"/>
    <add key="DOMINIO_CRM" value="Adtest"/>
    <add key="NOMBRE_FOLDER" value="LogCRM"/>
    <add key="RUTA_LOG" value="C:\"/>
    <add key="RUTA_LOG_TRAMA" value="C:\"/>
    <add key="servicecontextname" value="XrmServiceContext"/>
    <add key="namespace" value="Xrm"/>
  </appSettings>
</configuration>