<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AutoNumberCaseBind" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:24000/esb/common/conAutoNumberCase/v2/"
          binding="basicHttpBinding" bindingConfiguration="AutoNumberCaseBind"
          contract="AutoNumberCasePort" name="AutoNumberCasePort" />
    </client>
  </system.serviceModel>
</configuration>