<html>
<head>
    <title>Return Accesories</title>
    <!--JS-->
    <script src="amxperu_/jquery.min.js" type="text/javascript"></script>

    <script src="etel_/orderprocess/scripts/xrmservicetoolkit.js" type="text/javascript"></script>

    <script src="etel_/common/scripts/angular.min.js" type="text/javascript"></script>
    <script src="ust_/common/scripts/ui_grid.min.js"></script>
    <script src="ust_/common/scripts/ui_grid.pagination.min.js"></script>
    <script src="ust_/common/scripts/ui_grid.resize_columns.min.js"></script>
    <script src="ust_/common/scripts/ui_bootstrap.min.js"></script>

    <script src="ust_/common/scripts/bootstrap.min.js"></script>

    <!---->
    <link href="ust_/common/scripts/bootstrap.min.css" rel="stylesheet">
    <link href="ust_/common/scripts/ui_grid.min.css" rel="stylesheet">

    <link href="etel_/processapp/styles/global.css" rel="stylesheet" type="text/css">
    <link href="etel_/processapp/styles/fonts.css" rel="stylesheet" type="text/css">

    <link href="etel_/common/components/uigrid/styles/ui_grid.css" rel="stylesheet" type="text/css">

    <style class="#gridOptions.ui-grid-cell div select option:first-child[value=" none;}"="" "]=" "></style>
    <style class="#GridCustomId.ui-grid-cell div select option:first-child[value=" display="" }"="" none;="" {="" ?"]=""></style>

    <meta>
    <meta charset="utf-8">
    <meta>
</head>
<body style="-ms-word-wrap: break-word;">
    <div class="input-sm" ng-controller="replacePartController as vm" ng-app="ostapp">

        <input class="autorenew onoffswitch-checkbox" type="checkbox" ng-change="DevolutionAccesories()" ng-model="vm.activo">
        <label for="checkbox">Sin Accesorios</label>

        <!--<input id="cbox2" type="checkbox" ng-click="DevolutionAccesories()"><label for="cbox2">Sin Accesorios</label>-->
        <div class="ui-grid" id="grid1" style="width: auto; height: 275px;" ui-grid="gridOptions" ui-grid-row-edit="" ui-grid-edit="" ui-grid-pagination="">
        </div>

    </div>

    <script>

        var app = angular.module('ostapp', ['ui.grid', 'ui.grid.resizeColumns', 'ui.grid.pagination', 'ui.bootstrap', 'ui.grid.edit', 'ui.grid.rowEdit']);
        app.controller('replacePartController', function ($scope, $log) {

            // output CRM

            $scope.onGetListReplacementParts = function () {
                debugger;
                var _ostId = parent.Xrm.Page.getAttribute("ust_hidenostpid").getValue();
                console.log(_ostId);
                //Estoy haciendo un fetch (me traera toda la lista, pero tiene que ser por el _ostid)
                var fetchXML_OST = '<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">';
                fetchXML_OST += '<entity name="ust_equipmentdataonloan">';
                fetchXML_OST += '<attribute name="ust_equipmentdataonloanid" />';
                fetchXML_OST += '<attribute name="ust_description" />';
                fetchXML_OST += '<attribute name="ust_series" />';
                fetchXML_OST += '<attribute name="ust_returnstatus" />';
                fetchXML_OST += '<attribute name="ust_damageofdevice" />';
                fetchXML_OST += '<order attribute="ust_description" descending="false" />';
                fetchXML_OST += '</entity>';
                fetchXML_OST += '</fetch>';

                var objList = XrmServiceToolkit.Soap.Fetch(fetchXML_OST);

                ListPrint = [];
                objList.forEach(function (element, index) {

                    var id = element.id;

                    var descripcion = null;
                    if (element.attributes.ust_description != undefined) {
                        descripcion = element.attributes.ust_description.value;
                    }

                    var iddevice = null;
                    var damageodevice = null;
                    if (element.attributes.ust_damageofdevice != undefined) {
                        iddevice = element.attributes.ust_damageofdevice.id;
                        damageodevice = element.attributes.ust_damageofdevice.formattedValue;
                    }
                    var series = null;
                    if (element.attributes.ust_series != undefined) {
                        series = element.attributes.ust_series.value;
                    }
                    var idstatus = null;
                    var status = null;
                    if (element.attributes.ust_returnstatus != undefined) {
                        idstatus = element.attributes.ust_returnstatus.id;
                        status = element.attributes.ust_returnstatus.formattedValue;
                    }

                    ListPrint[index] = {
                        "id": id,
                        "descripcion": descripcion == null ? 0 : descripcion,
                        "iddevice": iddevice == null ? '' : iddevice,
                        "damageodevice": damageodevice == null ? '' : damageodevice,
                        "series": series == null ? 0 : series,
                        "idstatus": idstatus == null ? '' : idstatus,
                        "status": status == null ? 0 : status
                    }

                });

                return ListPrint;
            };

            $scope.onGetConjuntoOpciones = function () {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:9991/CLAROPERUUST/api/data/v8.1/GlobalOptionSetDefinitions(E0E07FEA-EB9F-E811-80EE-005056841895)",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var Options = [data.Options];
                        var _Options = Options[0];
                        __Opciones = [];
                        __Opcion = {};
                        __Opcion = new Object();

                        _Options.forEach(function (element) {

                            __Opcion = { Valor: element.Value, Label: element.Label.LocalizedLabels[0].Label };
                            __Opciones.push(__Opcion);

                        });


                        var list = [
                            { Valor: 864340000, Label: "Good"},
                            { Valor: 864340001, Label: "Regular"},
                            { Valor: 864340002, Label: "Bad" }
                        ]
                        //__Opciones
                        return list;
                    }, error: function (data) {
                        alert(data.statusText);
                    }
                });
            };



            $scope.list = $scope.onGetListReplacementParts();
            $scope.conjOpciones = function () {
                var list = [
                    { Valor: 864340000, Label: "Good" },
                    { Valor: 864340001, Label: "Regular" },
                    { Valor: 864340002, Label: "Bad" }
                ];

                return list;
            }

            // grilla
            $scope.columns = [
                { field: 'id', visible: false },
                { field: 'descripcion', name: 'Descripcion', width: '10%', height: '5%', cellTemplate: '<div class="ui-grid-cell-contents"><a href="#" title="{{COL_FIELD}}" ng-click="grid.appScope.OnClickEquipment(row.entity)"><span>{{COL_FIELD}}</span></a></div>', enableCellEdit: false, },
                { field: 'iddevice', visible: false },
                { field: 'damageodevice', name: 'Damageodevice', width: '10%', height: '5%', enableCellEdit: false, },
                { field: 'series', name: 'Series', width: '10%', height: '5%', enableCellEdit: false, },
                    //{ field: 'idstatus', visible: false },
                    //{ field: 'status', name: 'Status', width: '10%' , height: '5%'}
				{ name: 'Valor', editableCellTemplate: 'ui-grid/dropdownEditor', editDropdownIdLabel: 'Valor', editDropdownOptionsArray: $scope.conjOpciones(), visible: false },
                {
                    name: 'Status',
					enableFocusedCellEdit: true,
					width: 100,
                    editableCellTemplate: 'ui-grid/dropdownEditor',
					editDropdownIdLabel: 'Label',
                    editDropdownValueLabel: 'Label',
                    editDropdownOptionsArray: $scope.conjOpciones(),
					cellTemplate: '<div class="ui-grid-cell-contents"><a href="#" title="{{COL_FIELD}}" ng-click="grid.appScope.OnClickReturnStatus(row.entity)">{{COL_FIELD}}</a></div>', enableCellEdit: true,
                }

            ];

            $scope.gridOptions = {
                data: $scope.list,

                columnDefs: $scope.columns,
                showGridFooter: true,
                enableCellEdit: true,
                enableColumnResizing: true,
                paginationPageSizes: [5, 10, 15, 20],
                paginationPageSize: 5
            };

            $scope.reorder = function (grilla) {
                var q = 1;
                for (var i = 0; i < grilla.length; i++) {
                    grilla[i].id = q;
                    q += 1;
                }
            };

            $scope.DevolutionAccesories = function () {
				var vm = this;
				if(vm.activo = "activo")
				{
					//$scope.gridOptions.columns[0].enableCellEdit = false;
				}

            };

			$scope.onDropdownChange = function (record) {

                var id = record.guid;
                if (id !== null) {
                    window.parent.Xrm.Utility.openEntityForm("ust_equipmentdataonloanid", id, null, {
                        openInNewWindow: true
                    });
                }
            };

			$scope.OnClickEquipment = function (record) {
                var id = record.id;
                if (id !== null) {
                    window.parent.Xrm.Utility.openEntityForm("ust_equipmentdataonloan", id, null, {
                        openInNewWindow: true
                    });
                }
            };

			var  resultado = $scope.gridOptions.data[0];

			  $scope.OnClickReturnStatus = function (record) {
				  debugger;
				  var id = record.id;

				  var valor = 0;
				  if(record.Status == "Good")
				  {
					valor = 864340000;
				  }
				  else if (record.Status == "Regular")
				  {
					valor = 864340001;
				  }
				  else if (record.Status == "Bad")
				  {
					valor = 864340002;
				  }

				  var entityEquipment = new XrmServiceToolkit.Soap.BusinessEntity("ust_equipmentdataonloan");

						entityEquipment.attributes["ust_description"] = record.descripcion;
						entityEquipment.attributes["ust_series"] = record.series;
						entityEquipment.attributes["ust_returnstatus"] = valor;
						entityEquipment.attributes["ust_damageofdevice"] = record.iddevice;


					if (id !== null) {

						var updateEquipment = new XrmServiceToolkit.Soap.BusinessEntity("ust_equipmentdataonloan", id);
						updateEquipment.attributes["ust_returnstatus"] = valor;
						XrmServiceToolkit.Soap.Update(updateEquipment);
					}
					else
					{
					//Creación de registro de Equipos
						if(resultado.status > 0)
						{
							var logIdEquip = XrmServiceToolkit.Soap.Create(entityEquipment);
							//ssage.innerHTML += "No se pudo crear el equipo relacionado a la OST ";
						}
					}
				};

			  $scope.onRegisterApi = function (gridOptions) {
			      debugger;
			      //set gridApi on scope
			      $scope.gridApi = gridApi;
			      gridApi.selection.on.rowSelectionChanged($scope, function (row) {
			          var msg = 'row selected ' + row.isSelected;
			          $log.log(msg);
			      });

			      gridApi.selection.on.rowSelectionChangedBatch($scope, function (rows) {
			          var msg = 'rows changed ' + rows.length;
			          $log.log(msg);
			      });
			  };
        });//<-- fin controller

    </script><!-- fin script angular -->



</body>
</html>